/NetcoreSolution/CoreDemo/.vs/
/NetcoreSolution/CoreDemo/CoreDemo/bin/
/NetcoreSolution/CoreDemo/CoreDemo/obj/
/NetcoreSolution/CoreDemo/CoreDemo/obj/
/NetcoreSolution/CoreDemo/WebAppDemo/bin/
/NetcoreSolution/CoreDemo/WebAppDemo/obj/
/NetcoreSolution/WebApp/.vs/
/NetcoreSolution/WebApp/WebApp/bin/
/NetcoreSolution/WebApp/WebApp/obj/
/XamarinDemo/NetCore/.vs/
/XamarinDemo/NetCore/NetCore/NetCore/bin/
/XamarinDemo/NetCore/NetCore/NetCore/obj/
/XamarinDemo/NetCore/NetCore/NetCore.Android/bin/
/XamarinDemo/NetCore/NetCore/NetCore.Android/obj/
/XamarinDemo/NetCore/NetCore/NetCore.iOS/bin/
/XamarinDemo/NetCore/NetCore/NetCore.iOS/obj/
/NetcoreSolution/CoreDemo/TsqlCode/bin/
/NetcoreSolution/CoreDemo/TsqlCode/obj/
/NetcoreSolution/CoreDemo/TsqlCodeWeb/bin/
/NetcoreSolution/CoreDemo/TsqlCodeWeb/obj/
/bootsolution/.idea/
