<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!--下面三个 meta 标签必须是 head 的头三个标签-->
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Spring Boot</title>
    <!-- bootstrap css -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js 用来让 IE8 支持 HTML5 元素和媒体查询 -->
    <!--[if lt IE 9]>
    <script src="/html5/html5shiv.min.js"></script>
    <script src="/html5/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
    <h3>Spring Boot 目录</h3>
    <a href="/propertyconfig">自动配置property到类中</a><br/>
    <a href="/websocket/ws">WebSocket topic</a><br/>
    <a href="/websocket/wsqueue">WebSocket queue</a><br/>
    <a href="/action.html">Angular 单页应用</a><br/>
    <a href="/viewengine/thymeleaf">Thymeleaf 视图</a><br/>
    <a href="/jpaEmployee/queryAll">SpringData JPA + Hibernate + MySQL 查询数据</a><br/>
    <a href="/springdata/restful">SpringData Rest</a><br/>
    <a href="/SpringDataJpaTransaction/transaction">Spring Data Transaction</a>
    <h3>模板</h3>
    <a href="/template/bootstrap">Bootstrap模板</a>
</div>
<!--jQuery 是 Bootstrap 脚本插件必须的-->
<script src="/jQuery-v3.3.1.js"></script>
<!--包含所有编译的插件-->
<script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>